# Sample .env file with all necessary environment variables
DJANGO_SECRET_KEY="my-django-secret-key"
DJANGO_ALLOWED_HOSTS="localhost:8000"
DJANGO_CSRF_TRUSTED_ORIGINS="http://localhost:8000"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="12345678"
POSTGRES_DB="griddy"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
FERNET_KEY="my-fernet-key"
FROM_EMAIL=
SENDGRID_API_KEY=
