/* VENDOR CSS */
@import './jstoolchain/styles/vendor.css';

/* TAILWIND SETUP */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* FORMS */
/* tailwind class 'placeholder-white' not working for whatever reason */
input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Also focus border does not want to be influenced via tailwind classes */
input:focus {
  border-color: rgb(34 197 94) !important; /* green-500 */
  outline: none !important;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.2) !important; /* green-500/20 */
}


/* BACKGROUND ANIMATION */
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(-45deg, #16a34a, #374151, #4b5563, #15803d);
  background-size: 300% 300%;
  animation: gradientFlow 15s ease infinite;
}

/* RESULT PAGE */
/* Expand details section */
.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}