@import './jstoolchain/styles/vendor.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind class 'placeholder-white' not working for whatever reason */
input::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

/* Also focus border does not want to be influenced via tailwind classes */
input:focus {
        border-color: rgb(34 197 94) !important; /* green-500 */
        outline: none !important;
        box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.2) !important; /* green-500/20 */
    }

