interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer test_token
      Content-Type:
      - application/json
    method: GET
    uri: https://api.smartthings.com/v1/capabilities/thermostatCoolingSetpoint/1
  response:
    body:
      string: '{"id":"thermostatCoolingSetpoint","version":1,"status":"live","name":"Thermostat
        Cooling Setpoint","ephemeral":false,"attributes":{"coolingSetpointRange":{"schema":{"type":"object","properties":{"value":{"type":"object","additionalProperties":false,"properties":{"minimum":{"title":"TemperatureValue","type":"number","minimum":-460,"maximum":10000},"maximum":{"title":"TemperatureValue","type":"number","minimum":-460,"maximum":10000},"step":{"title":"TemperatureValue","type":"number","minimum":-460,"maximum":10000}},"required":["minimum","maximum"]},"unit":{"type":"string","enum":["F","C"]}},"additionalProperties":false,"required":["value","unit"]},"enumCommands":[]},"coolingSetpoint":{"schema":{"title":"Temperature","type":"object","properties":{"value":{"title":"TemperatureValue","type":"number","minimum":-460,"maximum":10000},"unit":{"type":"string","enum":["F","C"]}},"additionalProperties":false,"required":["value","unit"]},"setter":"setCoolingSetpoint","enumCommands":[]}},"commands":{"setCoolingSetpoint":{"name":"setCoolingSetpoint","arguments":[{"name":"setpoint","optional":false,"schema":{"title":"TemperatureValue","type":"number","minimum":-460,"maximum":10000}}]}}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2000'
      X-RateLimit-Remaining:
      - '2000'
      X-RateLimit-Reset:
      - '58854'
    status:
      code: 200
      message: OK
version: 1
