interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer test_token
      Content-Type:
      - application/json
    method: GET
    uri: https://api.smartthings.com/v1/devices/test_device_id/status
  response:
    body:
      string: '{"components":{"main":{"demandResponseLoadControl":{"drlcStatus":{"value":{"drlcType":1,"drlcLevel":-1,"start":"1970-01-01T00:00:00Z","duration":0,"override":false},"timestamp":"2024-01-29T09:15:22.318Z"}},"powerConsumptionReport":{"powerConsumption":{"value":{"energy":1369402.0,"deltaEnergy":15.0,"power":0.196,"powerEnergy":0.006934423889054193,"persistedEnergy":1369402.0,"energySaved":0,"start":"2024-05-10T10:57:01Z","end":"2024-05-10T11:13:01Z"},"timestamp":"2024-05-10T11:13:01.154Z"}},"samsungce.ehsCycleData":{"outdoor":{"value":[{"timestamp":"2024-05-10T01:58:55Z","data":"0000000059784900470207D0000000000000"},{"timestamp":"2024-05-10T02:03:55Z","data":"0000000059774A00470207D0000000000000"},{"timestamp":"2024-05-10T02:08:55Z","data":"0000000058774900470207D0000000000000"}],"unit":"C","timestamp":"2024-05-10T11:10:57.158Z"},"indoor":{"value":[{"timestamp":"2024-05-10T01:58:55Z","data":"52055A055A5A00100000000000000000000000000003D6EC"},{"timestamp":"2024-05-10T02:03:55Z","data":"520559055A5A00100000000000000000000000000003D6EF"},{"timestamp":"2024-05-10T02:08:55Z","data":"51055905595900100000000000000000000000000003D6F4"}],"unit":"C","timestamp":"2024-05-10T11:10:57.158Z"}},"custom.outingMode":{"outingMode":{"value":"off","timestamp":"2024-04-12T13:42:31.474Z"}},"samsungce.ehsThermostat":{"connectionState":{"value":"disconnected","timestamp":"2024-01-29T09:15:22.099Z"}},"refresh":{},"custom.thermostatSetpointControl":{"minimumSetpoint":{"value":30,"unit":"C","timestamp":"2024-01-29T09:15:22.318Z"},"maximumSetpoint":{"value":70,"unit":"C","timestamp":"2024-01-29T09:15:22.318Z"}},"airConditionerMode":{"supportedAcModes":{"value":["eco","std","power","force"],"timestamp":"2024-01-29T09:15:22.099Z"},"airConditionerMode":{"value":"std","timestamp":"2024-05-05T01:50:09.840Z"}},"samsungce.ehsFsvSettings":{"fsvSettings":{"value":[{"id":"1031","inUse":true,"resolution":1,"type":"temperature","minValue":37,"maxValue":65,"value":65,"isValid":true,"temperatureUnit":"C"},{"id":"1032","inUse":true,"resolution":1,"type":"temperature","minValue":15,"maxValue":37,"value":25,"isValid":true,"temperatureUnit":"C"},{"id":"1051","inUse":true,"resolution":1,"type":"temperature","minValue":50,"maxValue":70,"value":70,"isValid":true,"temperatureUnit":"C"},{"id":"1052","inUse":true,"resolution":1,"type":"temperature","minValue":30,"maxValue":40,"value":30,"isValid":true,"temperatureUnit":"C"},{"id":"2011","inUse":true,"resolution":1,"type":"temperature","minValue":-20,"[...]
