interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer bad_token
      Content-Type:
      - application/json
    method: GET
    uri: https://api.smartthings.com/v1/devices
  response:
    body:
      string: "<html>\r\n<head><title>401 Authorization Required</title></head>\r\n<body>\r\n<center><h1>401
        Authorization Required</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
    status:
      code: 401
      message: Unauthorized
version: 1
