interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer test_token
      Content-Type:
      - application/json
    method: GET
    uri: https://api.smartthings.com/v1/devices
  response:
    body:
      string: '{"items":[{"deviceId":"test_device_id","name":"Eco
        Heating System","label":"Eco Heating System","manufacturerName":"Samsung Electronics","presentationId":"DA-SAC-EHS-000001-SUB","deviceManufacturerCode":"Samsung
        Electronics","locationId":"019a45e6-0d68-41fd-aea8-76b39a1ce40d","ownerId":"2bc19d4f-4216-ef8e-65ca-54966c2712d8","roomId":"59bb4588-89a5-4dd4-8a4d-e43e7e449942","deviceTypeName":"Samsung
        OCF Air Conditioner","components":[{"id":"main","label":"main","capabilities":[{"id":"ocf","version":1},{"id":"switch","version":1},{"id":"temperatureMeasurement","version":1},{"id":"thermostatCoolingSetpoint","version":1},{"id":"airConditionerMode","version":1},{"id":"powerConsumptionReport","version":1},{"id":"demandResponseLoadControl","version":1},{"id":"remoteControlStatus","version":1},{"id":"refresh","version":1},{"id":"execute","version":1},{"id":"custom.energyType","version":1},{"id":"custom.outingMode","version":1},{"id":"custom.thermostatSetpointControl","version":1},{"id":"custom.deviceReportStateConfiguration","version":1},{"id":"custom.disabledCapabilities","version":1},{"id":"samsungce.deviceIdentification","version":1},{"id":"samsungce.driverVersion","version":1},{"id":"samsungce.sacDisplayCondition","version":1},{"id":"samsungce.softwareUpdate","version":1},{"id":"samsungce.ehsFsvSettings","version":1},{"id":"samsungce.ehsCycleData","version":1},{"id":"samsungce.ehsTemperatureReference","version":1},{"id":"samsungce.ehsThermostat","version":1},{"id":"samsungce.toggleSwitch","version":1}],"categories":[{"name":"AirConditioner","categoryType":"manufacturer"}]},{"id":"INDOOR","label":"INDOOR","capabilities":[{"id":"switch","version":1},{"id":"temperatureMeasurement","version":1},{"id":"thermostatCoolingSetpoint","version":1},{"id":"airConditionerMode","version":1},{"id":"custom.thermostatSetpointControl","version":1},{"id":"samsungce.ehsTemperatureReference","version":1},{"id":"samsungce.sacDisplayCondition","version":1},{"id":"samsungce.ehsThermostat","version":1},{"id":"samsungce.toggleSwitch","version":1}],"categories":[{"name":"Other","categoryType":"manufacturer"}]}],"createTime":"2024-01-29T09:15:21.965Z","parentDeviceId":"9db65791-0c38-2d89-69ef-90463a240612","profile":{"id":"54b9789f-2c8c-310d-9e14-9a84903c792b"},"ocf":{"ocfDeviceType":"oic.d.airconditioner","name":"Eco
        Heating System","specVersion":"core.1.1.0","verticalDomainSpecVersion":"res.1.1.0,sh.1.1.0","manufacturerName":"Samsung
        Electronics","modelNumber":"SAC_EHS_MONO|220614|61007400001600000400000000000000","platformVersion":"4.0","platformOS":"Tizen","firmwareVersion":"20230914.1","vendorId":"DA-SAC-EHS-000001-SUB","vendorResourceClientServerVersion":"3.1.28","lastSignupTime":"2024-01-29T09:15:20.683956Z"},"type":"OCF","restrictionTier":0,"allowed":[],"executionContext":"CLOUD"},{"deviceId":"9db65791-0c38-2d89-69ef-90463a240612","name":"[system
        a/c] Samsung","label":"Systemklimaanlage (Wi-Fi Kit)","manufacturerName":"Samsung
        Electronics","presentationId":"DA-SAC-WIFIKIT-000001","deviceManufacturerCode":"Samsung
        Electronics","locationId":"019a45e6-0d68-41fd-aea8-76b39a1ce40d","ownerId":"2bc19d4f-4216-ef8e-65ca-54966c2712d8","roomId":"59bb4588-89a5-4dd4-8a4d-e43e7e449942","deviceTypeName":"Samsung
        OCF Air Conditioner","components":[{"id":"main","label":"main","capabilities":[{"id":"ocf","version":1},{"id":"switch","version":1},{"id":"refresh","version":1},{"id":"execute","version":1},{"id":"custom.disabledCapabilities","version":1},{"id":"samsungce.deviceIdentification","version":1},{"id":"samsungce.wifiKitSubDevices","version":1},{"id":"samsungce.softwareUpdate","version":1},{"id":"samsungce.driverVersion","version":1}],"categories":[{"name":"AirConditioner","categoryType":"manufacturer"}]}],"createTime":"2024-01-29T09:15:20.643Z","childDevices":[{"deviceId":"test_device_id","profile":{},"allowed":null,"executionContext":"CLOUD"}],"profile":{"id":"3713e35a-1dd9-3742-beee-b747773228c5"},"ocf":{"ocfDeviceType":"oic.d.airconditioner","name":"[system
        a/c] Samsung","specVersion":"core.1.1.0","verticalDomainSpecVersion":"1.2.1","manufacturerName":"Samsung
        Electronics","modelNumber":"MIM-H04EN|230914|61FFFF00001411000000000000000000","platformVersion":"4.0","platformOS":"Tizen","hwVersion":"","firmwareVersion":"20230914.1","vendorId":"DA-SAC-WIFIKIT-000001","vendorResourceClientServerVersion":"3.1.28","locale":"","lastSignupTime":"2024-01-29T09:15:18.474281Z"},"type":"OCF","restrictionTier":0,"allowed":[],"executionContext":"CLOUD"}],"_links":{}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '1000'
      X-RateLimit-Reset:
      - '289110'
    status:
      code: 200
      message: OK
version: 1
