interactions:
- request:
    body: '{"commands": [{"component": "INDOOR", "capability": "switch", "command":
      "off", "arguments": []}]}'
    headers:
      Authorization:
      - Bearer test_token
      Content-Type:
      - application/json
    method: POST
    uri: https://api.smartthings.com/v1/devices/test_device_id/commands
  response:
    body:
      string: '{"results":[{"id":"test_command_id","status":"COMPLETED"}]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '120'
      X-RateLimit-Remaining:
      - '120'
      X-RateLimit-Reset:
      - '17895'
    status:
      code: 200
      message: OK
version: 1
