{% extends '_base.html' %}
{% load static %}

{% block title %}Integrationen{% endblock title %}

{% block content %}
<div>
  <p class="mt-5 text-neutral-400 text-lg text-center">
    Wähle die für dich passende Integration aus.
  </p>
</div>
<!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for integration in integrations %}
      <!-- Icon Block -->
      <a class="h-36 sm:h-56 flex flex-col justify-center border border-gray-200 rounded-xl text-center p-4 md:p-5 dark:border-neutral-700"
      href="{% url 'devices:create_heat_pump' integration_id=integration.identifier %}">
        <!-- Icon -->
        <div class="flex justify-center items-center size-12 bg-gradient-to-br from-blue-600 to-violet-600 rounded-lg mx-auto">
          <svg class="flex-shrink-0 size-7 text-white"
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round">
            <rect width="18"
                  height="10"
                  x="3"
                  y="11"
                  rx="2"/>
            <circle cx="12"
                    cy="5"
                    r="2"/>
            <path d="M12 7v4"/>
            <line x1="8"
                  x2="8"
                  y1="16"
                  y2="16"/>
            <line x1="16"
                  x2="16"
                  y1="16"
                  y2="16"/>
          </svg>
        </div>
        <!-- End Icon -->
        <div class="mt-3">
          <h3 class="text-sm sm:text-lg font-semibold text-gray-800 dark:text-neutral-200">
            {{ integration.name }}
          </h3>
        </div>
      </a>
      <!-- End Icon Block -->
    {% endfor %}
  </div>
  <!-- End Grid -->
</div>
<!-- End Icon Blocks -->
{% endblock content %}
