interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer test_token
      Content-Type:
      - application/json
    method: GET
    uri: https://api.smartthings.com/v1/devices/test_device_id/status
  response:
    body:
      string: '{"components":{"main":{"demandResponseLoadControl":{"drlcStatus":{"value":{"drlcType":1,"drlcLevel":-1,"start":"1970-01-01T00:00:00Z","duration":0,"override":false},"timestamp":"2024-01-29T09:15:22.318Z"}},"powerConsumptionReport":{"powerConsumption":{"value":{"energy":1369453.0,"deltaEnergy":0,"power":0.026,"powerEnergy":0.008162829999393887,"persistedEnergy":1369453.0,"energySaved":0,"start":"2024-05-10T12:09:01Z","end":"2024-05-10T12:27:51Z"},"timestamp":"2024-05-10T12:27:51.241Z"}},"samsungce.ehsCycleData":{"outdoor":{"value":[{"timestamp":"2024-05-10T03:16:55Z","data":"0000000055754900470207D0000000000390"}],"unit":"C","timestamp":"2024-05-10T12:16:56.884Z"},"indoor":{"value":[{"timestamp":"2024-05-10T03:16:55Z","data":"51055805575700100000000000000000000003900003D72F"}],"unit":"C","timestamp":"2024-05-10T12:16:56.884Z"}},"custom.outingMode":{"outingMode":{"value":"off","timestamp":"2024-04-12T13:42:31.474Z"}},"samsungce.ehsThermostat":{"connectionState":{"value":"disconnected","timestamp":"2024-01-29T09:15:22.099Z"}},"refresh":{},"custom.thermostatSetpointControl":{"minimumSetpoint":{"value":30,"unit":"C","timestamp":"2024-01-29T09:15:22.318Z"},"maximumSetpoint":{"value":70,"unit":"C","timestamp":"2024-01-29T09:15:22.318Z"}},"airConditionerMode":{"supportedAcModes":{"value":["eco","std","power","force"],"timestamp":"2024-01-29T09:15:22.099Z"},"airConditionerMode":{"value":"std","timestamp":"2024-05-05T01:50:09.840Z"}},"samsungce.ehsFsvSettings":{"fsvSettings":{"value":[{"id":"1031","inUse":true,"resolution":1,"type":"temperature","minValue":37,"maxValue":65,"value":65,"isValid":true,"temperatureUnit":"C"},{"id":"1032","inUse":true,"resolution":1,"type":"temperature","minValue":15,"maxValue":37,"value":25,"isValid":true,"temperatureUnit":"C"},{"id":"1051","inUse":true,"resolution":1,"type":"temperature","minValue":50,"maxValue":70,"value":70,"isValid":true,"temperatureUnit":"C"},{"id":"1052","inUse":true,"resolution":1,"type":"temperature","minValue":30,"maxValue":40,"value":30,"isValid":true,"temperatureUnit":"C"},{"id":"2011","inUse":true,"resolution":1,"type":"temperature","minValue":-20,"[...]
[...]
- request:
    body: '{"commands": [{"component": "INDOOR", "capability": "thermostatCoolingSetpoint",
      "command": "setCoolingSetpoint", "arguments": [50]}]}'
    headers:
      Authorization:
      - Bearer test_token
      Content-Type:
      - application/json
    method: POST
    uri: https://api.smartthings.com/v1/devices/test_device_id/commands
  response:
    body:
      string: '{"results":[{"id":"b0ab7259-df1b-41be-a0d6-f9bd4d34d78d","status":"COMPLETED"}]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '120'
      X-RateLimit-Remaining:
      - '120'
      X-RateLimit-Reset:
      - '16407'
    status:
      code: 200
      message: OK
[...]
