interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.energy-charts.info/price?bzn=DE-LU&start=2024-11-01&end=2024-11-02
  response:
    body:
      string: '{"license_info":"CC BY 4.0 (creativecommons.org/licenses/by/4.0) from
        Bundesnetzagentur | SMARD.de","unix_seconds":[1730415600,1730419200,1730422800,1730426400,1730430000,1730433600,1730437200,1730440800,1730444400,1730448000,1730451600,1730455200,1730458800,1730462400,1730466000,1730469600,1730473200,1730476800,1730480400,1730484000,1730487600,1730491200,1730494800,1730498400,1730502000,1730505600,1730509200,1730512800,1730516400,1730520000,1730523600,1730527200,1730530800,1730534400,1730538000,1730541600,1730545200,1730548800,1730552400,1730556000,1730559600,1730563200,1730566800,1730570400,1730574000,1730577600,1730581200,1730584800],"price":[63.34,62.95,57.1,54.54,56.99,63.21,69.68,70.35,64.18,61.2,55.01,32.04,29.49,34.9,63.83,89.33,115.98,119.87,117.97,117.59,113.2,104.64,98.41,85.64,95.75,91.31,88.76,86.0,86.85,92.13,96.97,100.11,101.16,109.64,91.19,94.44,88.68,91.51,103.42,122.3,137.61,158.56,149.92,134.96,122.79,111.26,106.28,100.61],"unit":"EUR
        / megawatt_hour","deprecated":false}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
