{% extends "_base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    {% if validlink %}

        <h2>{% translate "Passwort zurücksetzen" %}</h2>
        <p>{% translate "Bitte gib das neue Passwort zweifach ein, damit wir sicher sein können, dass du dich nicht vertippt hast." %}</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="{% translate 'Change my password' %}">
        </form>

    {% else %}

        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
